/*	CSS Design by Seth Toles for sethtoles.com */
html {
  background-color: #103368; }

html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  position: relative;
  color: #151515; }

h1 {
  font-size: 1.2em;
  margin: 1.5em 0 .3em 0;
  font-weight: 600; }

h2 {
  font-size: 1.3em;
  margin: .2em 0 .1em .38em;
  font-weight: 600;
  display: inline-block; }

h3 {
  font-size: 1em;
  margin: 1em 0 0.2em 0;
  font-weight: 600; }

h4 {
  font-size: 1.1em;
  margin: 0 0 0.2em .45em;
  font-weight: 400;
  display: inline-block; }

.previewDetails > h4 {
  display: block; }

h5 {
  font-size: .9em;
  font-weight: normal;
  margin: 0.2em 0 1.5em 0; }

b {
  font-weight: 600; }

a {
  cursor: pointer;
  text-decoration: none; }

a:link {
  color: #3289d4; }

a:visited {
  color: #9c4cbc; }

img {
  border: none; }

ul {
  list-style-type: none; }

.detailRight {
  float: right; }

#curtain {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  z-index: 100;
  font-size: 2em;
  text-align: center;
  padding-top: 10em; }

/* ----- OVERLAY ----- */
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100%;
  z-index: 99;
  font-size: 2.4em;
  background-color: white;
  transition: -ms-transform 1s ease;
  -webkit-transition: -webkit-transform 1s ease;
  transition: transform 1s ease; }

#dimmer {
  position: fixed;
  background-color: black;
  z-index: 98;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 0.8s, opacity 0.8s linear;
  transition: visibility 0s 0.8s, opacity 0.8s linear; }

#dimmer.dim {
  visibility: visible;
  opacity: .3;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease; }

#buttonRow {
  position: absolute;
  width: 100%;
  height: 3.25em;
  margin-top: -3.25em;
  background-color: #0c1222;
  text-align: center; }

a.rowButton {
  width: 32.333%;
  padding-right: 1%;
  float: left;
  font-size: 1.5em;
  background-color: #0c1222;
  color: #97abce;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease; }

a.rowButton:hover {
  color: white;
  background-color: #121f33; }

a.rowButtonCurrent, a.rowButtonCurrent:hover {
  color: #0c1222;
  background-color: white; }

#resumeTitle, #aboutTitle, #hireTitle {
  width: 80%;
  padding: .5em 0 .5em 10%;
  float: left; }

.closeBox {
  width: 10%;
  max-width: 1.5em;
  float: right;
  height: 100%;
  padding-top: 1.1em; }

.close {
  opacity: 0;
  height: 0;
  width: 100%;
  margin-top: -50%;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

.closeCircle {
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease; }

.close:hover > .closeCircle {
  fill: #97abce; }

.rowButtonCurrent .close {
  opacity: 1;
  height: 100%; }

#contentRow {
  position: absolute;
  width: 300%;
  background-color: white;
  display: none;
  transition: -ms-transform 1s ease;
  -webkit-transition: -webkit-transform 1s ease;
  transition: transform 1s ease; }

#resume, #about, #hire {
  float: left;
  width: 23.33%;
  padding: 0 5%; }

#about {
  text-align: center; }

#hire {
  text-align: right; }

#sig {
  height: 3em;
  padding-top: .5em; }

/* ----- SIDEBAR ----- */
#sidebar {
  background-color: #051b3c;
  padding: 0;
  margin: .4em 0 1em 0;
  position: absolute;
  left: 2%;
  z-index: 97;
  font-size: 3.5em; }

#sidebar li {
  padding: 0 .5em 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 2em;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }

#sidebar li:hover {
  background-color: #224579; }

#sidebar img {
  height: 100%;
  vertical-align: middle; }

.navCurrent {
  background-color: #0b2b5c; }

.Ncat {
  vertical-align: -.15em;
  padding: 0 .3em;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease; }

#Sil {
  color: #ffe666; }

.navCurrent #Sil {
  color: #ffed8f; }

#Nil:hover #Sil {
  color: #fff3b2; }

#Sva {
  color: #4acaa8; }

.navCurrent #Sva {
  color: #50d6b2; }

#Nva:hover #Sva {
  color: #60e4c1; }

#Sgd {
  color: #e05ea9; }

.navCurrent #Sgd {
  color: #e86db4; }

#Ngd:hover #Sgd {
  color: #fd7fc8; }

#Sco {
  color: #54a6ed; }

.navCurrent #Sco {
  color: #5fb3fb; }

#Nco:hover #Sco {
  color: #76c0ff; }

#Sro {
  color: #4bbd61; }

.navCurrent #Sro {
  color: #52cc68; }

#Nro:hover #Sro {
  color: #71e587; }

#Sid {
  color: #fba03a; }

.navCurrent #Sid {
  color: #ffb057; }

#Nid:hover #Sid {
  color: #ffc17a; }

#Ssc {
  color: #9c4cbc; }

.navCurrent #Ssc {
  color: #aa55cc; }

#Nsc:hover #Ssc {
  color: #c06fe1; }

#Sck {
  color: #d9524d; }

.navCurrent #Sck {
  color: #f15c57; }

#Nck:hover #Sck {
  color: #f97974; }

/* ----- MAIN ----- */
main {
  position: relative;
  width: 92%;
  display: block;
  margin: 0 auto;
  font-size: 2.4em;
  background-color: #f8fafd;
  z-index: 2; }

#topSpace {
  background-color: #f0f3f7;
  height: 1.2em; }

.category {
  padding-top: 1em;
  padding-bottom: 3em; }

main .category:nth-child(odd) {
  background-color: #f0f3f7; }

.categoryTitle {
  float: left;
  font-size: 1.6em;
  margin: -1em 0 0 -0.5em;
  padding: .05em .5em .05em 10.5em;
  border-left: 0.5em solid; }

#ilTitle {
  background-color: #ffe666;
  border-color: #d4b51d; }

#vaTitle {
  background-color: #4acaa8;
  border-color: #229072; }

#gdTitle {
  background-color: #e05ea9;
  border-color: #94336b; }

#coTitle {
  background-color: #54a6ed;
  border-color: #236aa8; }

#roTitle {
  background-color: #4bbd61;
  border-color: #2a7a39; }

#idTitle {
  background-color: #fba03a;
  border-color: #9f5d12; }

#scTitle {
  background-color: #9c4cbc;
  border-color: #6c2389; }

#ckTitle {
  background-color: #d9524d;
  border-color: #9a2f2b; }

.catDesc {
  margin: 1em 4% 1em 17em;
  padding-bottom: .5em;
  border-bottom: .5em solid; }

.item {
  margin: 0 4% 0 17em; }

a.preview {
  display: block;
  position: relative;
  color: #151515;
  margin-bottom: .6em;
  border-right: 0.5em solid transparent;
  -webkit-transition: background-color 0.5s ease, border-color 0.5s ease;
  transition: background-color 0.5s ease, border-color 0.5s ease; }

a.preview:hover {
  color: #151515;
  background-color: #e5e9ee; }

a.ilB:hover {
  border-color: #fff3b2; }

a.vaB:hover {
  border-color: #60e4c1; }

a.gdB:hover {
  border-color: #fd7fc8; }

a.coB:hover {
  border-color: #76c0ff; }

a.roB:hover {
  border-color: #71e587; }

a.idB:hover {
  border-color: #ffc17a; }

a.scB:hover {
  border-color: #c06fe1; }

a.ckB:hover {
  border-color: #f97974; }

.thumb {
  height: 6.5em;
  width: 6.5em;
  float: left; }

.previewDetails {
  min-height: 6.5em;
  padding-left: .2em;
  overflow: hidden; }

.itemTitle {
  float: left; }

.previewDesc {
  padding-bottom: .2em;
  margin: 0 .5em; }

.detail {
  overflow: hidden;
  display: none;
  background-color: #e5e9ee;
  margin-bottom: 1.3em;
  border-bottom: .5em solid; }

.detail > p {
  padding: 0 .5em; }

.ilB {
  border-color: #ffe666; }

.vaB {
  border-color: #4acaa8; }

.gdB {
  border-color: #e05ea9; }

.coB {
  border-color: #54a6ed; }

.roB {
  border-color: #4bbd61; }

.idB {
  border-color: #fba03a; }

.scB {
  border-color: #9c4cbc; }

.ckB {
  border-color: #d9524d; }

img.floatL {
  float: left;
  padding: .7em .7em 0 0;
  max-width: 40%; }

img.floatR {
  float: right;
  padding: .7em 0 0 .7em;
  max-width: 40%; }

img.wide {
  float: left;
  width: 100%; }

.embedContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%; }

.embedWide {
  padding-bottom: 56.25%; }

.embedStandard {
  padding-bottom: 66.67%; }

.embedVGA {
  padding-bottom: 75%; }

.embedContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#tail {
  position: relative;
  width: 92%;
  margin-left: 4%;
  padding-bottom: 4em;
  z-index: 1; }

/* ----- DETAIL CLOSE ----- */
#dcBox {
  display: none;
  width: 3%;
  right: 4.35%;
  top: 3em;
  position: fixed;
  z-index: 96; }

#detailClose {
  width: 100%;
  height: 100%; }

#detailCloseButton {
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease; }

#detailClose:hover > #detailCloseButton {
  fill: #97abce; }

/* ----- SPLASH AREA ----- */
#splash {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; }

.icon {
  top: 60%;
  left: 50%;
  display: block;
  position: absolute; }

.iconText {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease; }

.iconText:hover {
  opacity: 1; }

#icon1 {
  -webkit-transform: translate(-50%, -50%) rotate(-105deg) translateY(-285%) rotate(105deg);
  -ms-transform: translate(-50%, -50%) rotate(-105deg) translateY(-285%) rotate(105deg);
  transform: translate(-50%, -50%) rotate(-105deg) translateY(-285%) rotate(105deg); }

#icon2 {
  -webkit-transform: translate(-50%, -50%) rotate(-75deg) translateY(-285%) rotate(75deg);
  -ms-transform: translate(-50%, -50%) rotate(-75deg) translateY(-285%) rotate(75deg);
  transform: translate(-50%, -50%) rotate(-75deg) translateY(-285%) rotate(75deg); }

#icon3 {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg) translateY(-285%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg) translateY(-285%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(-45deg) translateY(-285%) rotate(45deg); }

#icon4 {
  -webkit-transform: translate(-50%, -50%) rotate(-15deg) translateY(-285%) rotate(15deg);
  -ms-transform: translate(-50%, -50%) rotate(-15deg) translateY(-285%) rotate(15deg);
  transform: translate(-50%, -50%) rotate(-15deg) translateY(-285%) rotate(15deg); }

#icon5 {
  -webkit-transform: translate(-50%, -50%) rotate(15deg) translateY(-285%) rotate(-15deg);
  -ms-transform: translate(-50%, -50%) rotate(15deg) translateY(-285%) rotate(-15deg);
  transform: translate(-50%, -50%) rotate(15deg) translateY(-285%) rotate(-15deg); }

#icon6 {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) translateY(-285%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg) translateY(-285%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(45deg) translateY(-285%) rotate(-45deg); }

#icon7 {
  -webkit-transform: translate(-50%, -50%) rotate(75deg) translateY(-285%) rotate(-75deg);
  -ms-transform: translate(-50%, -50%) rotate(75deg) translateY(-285%) rotate(-75deg);
  transform: translate(-50%, -50%) rotate(75deg) translateY(-285%) rotate(-75deg); }

#icon8 {
  -webkit-transform: translate(-50%, -50%) rotate(105deg) translateY(-285%) rotate(-105deg);
  -ms-transform: translate(-50%, -50%) rotate(105deg) translateY(-285%) rotate(-105deg);
  transform: translate(-50%, -50%) rotate(105deg) translateY(-285%) rotate(-105deg); }
