@import '@fontsource-variable/crimson-pro';

:root {
	--color-bg: rgb(22, 25, 38);
	--color-text: rgba(246, 245, 240, 0.9);
	--color-link: #0DA0F3;
	--color-link-visited: #8E0DF3;
	--color-pink: 230, 0, 107;
	--color-purple: 123, 0, 198;
	--color-teal: 0, 66, 165;
	font-family: 'Crimson Pro Variable', serif;
	color: var(--color-text);
	background-color: var(--color-bg);
}

body {
	min-height: 100vh;
	margin: 0;
}

h1,
h2,
p {
	font-weight: 400;
}

a {
	color: var(--color-link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--color-link-visited);
}

h1 {
	font-size: 64px;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}
