html {
	background-color: $back;
}

html, body {
	font-family: 'Raleway', sans-serif;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	position: relative;
	color:	$text;
}

h1 {
	font-size: 1.2em;
	margin: 1.5em 0 .3em 0;
	font-weight: 600;
}

h2 {
	font-size: 1.3em;
	margin: .2em 0 .1em .38em;
	font-weight: 600;
	display: inline-block;
}

h3 {
	font-size: 1em;
	margin: 1em 0 0.2em 0;
	font-weight: 600;
}

h4 {
	font-size: 1.1em;
	margin: 0 0 0.2em .45em;
	font-weight: 400;
	display: inline-block;
}

.previewDetails>h4 {
	display: block;
}

h5 {
	font-size: .9em;
	font-weight: normal;
	margin: 0.2em 0 1.5em 0;
}

b {
	font-weight: 600;
}

a {
	cursor: pointer;
	text-decoration: none;
}

a:link {
	color: $link;
}

a:visited {
	color: $visited;
}

img	{
	border: none;
}

ul {
	list-style-type: none;
}

.detailRight {
	float: right;
}

#curtain {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: white;
	z-index: 100;
	font-size: 2em;
	text-align: center;
	padding-top: 10em;
}