/* ----- MAIN ----- */
main {
	position: relative;
	width: 92%;
	display: block;
	margin: 0 auto;
	font-size: 2.4em;
	background-color: $main;
	z-index: 2;
}

#topSpace {
	background-color: $mainDark;
	height: 1.2em;
}

.category {
	padding-top: 1em;
	padding-bottom: 3em;
}

main .category:nth-child(odd) {
	background-color: $mainDark;
}

.categoryTitle {
	float: left;
	font-size: 1.6em;
	margin: -1em 0 0 -0.5em;
	padding: .05em .5em .05em 10.5em;
	border-left: 0.5em solid;
}

#ilTitle {background-color: $il; border-color: $ilDark;}
#vaTitle {background-color: $va; border-color: $vaDark;}
#gdTitle {background-color: $gd; border-color: $gdDark;}
#coTitle {background-color: $co; border-color: $coDark;}
#roTitle {background-color: $ro; border-color: $roDark;}
#idTitle {background-color: $id; border-color: $idDark;}
#scTitle {background-color: $sc; border-color: $scDark;}
#ckTitle {background-color: $ck; border-color: $ckDark;}

.catDesc {
	margin: 1em 4% 1em 17em;
	padding-bottom: .5em;
	border-bottom: .5em solid;
}

.item {
	margin: 0 4% 0 17em;
}

a.preview {
	display: block;
	position: relative;
	color: $text;
	margin-bottom: .6em;
	border-right: 0.5em solid transparent;
	@include transition(background-color .5s ease, border-color .5s ease);
}

a.preview:hover {
	color: $text;
	background-color: $previewHov;
}

a.ilB:hover {border-color: $ilLight;}
a.vaB:hover {border-color: $vaLight;}
a.gdB:hover {border-color: $gdLight;}
a.coB:hover {border-color: $coLight;}
a.roB:hover {border-color: $roLight;}
a.idB:hover {border-color: $idLight;}
a.scB:hover {border-color: $scLight;}
a.ckB:hover {border-color: $ckLight;}

.thumb {
	height: 6.5em;
	width: 6.5em;
	float: left;
}

.previewDetails {
	min-height: 6.5em;
	padding-left: .2em;
	overflow: hidden;
}

.itemTitle {
	float: left;
}

.previewDesc {
	padding-bottom: .2em;
	margin: 0 .5em;
}

.detail {
	overflow: hidden;
	display: none;
	background-color: $close;
	margin-bottom: 1.3em;
	border-bottom: .5em solid;
}

.detail>p {
	padding: 0 .5em;
}

.ilB {border-color: $il;}
.vaB {border-color: $va;}
.gdB {border-color: $gd;}
.coB {border-color: $co;}
.roB {border-color: $ro;}
.idB {border-color: $id;}
.scB {border-color: $sc;}
.ckB {border-color: $ck;}

img.floatL {
	float: left;
	padding: .7em .7em 0 0;
	max-width: 40%;
}

img.floatR {
	float: right;
	padding: .7em 0 0 .7em;
	max-width: 40%;
}

img.wide {
	float: left;
	width: 100%;
}

.embedContainer {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
}

.embedWide {
	padding-bottom: 56.25%;
}

.embedStandard {
	padding-bottom: 66.67%;
}

.embedVGA {
	padding-bottom: 75%;
}

.embedContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tail {
	position: relative;
	width: 92%;
	margin-left: 4%;
	padding-bottom: 4em;
	z-index: 1;
}


/* ----- DETAIL CLOSE ----- */
#dcBox {
	display: none;
	width: 3%;
	right: 4.35%;
	top: 3em;
	position: fixed;
	z-index: 96;
}

#detailClose {
	width: 100%;
	height: 100%;
}

#detailCloseButton {
	@include transition(fill .5s ease);
}

#detailClose:hover>#detailCloseButton {
	fill: $closeHov;
}