/* ----- OVERLAY ----- */
#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 100%;
	z-index: 99;
	font-size: 2.4em;
	background-color: $overlay;
	@include transition-transform(1s ease);
}

#dimmer {
	position: fixed;
	background-color: black;
	z-index: 98;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	@include transition(visibility 0s .8s, opacity .8s linear);
}

#dimmer.dim {
	visibility: visible;
	opacity: .3;
	@include transition(opacity .8s ease);
}

#buttonRow {
	position: absolute;
	width: 100%;
	height: 3.25em;
	margin-top: -3.25em;
	background-color: $overlayButton;
	text-align: center;
}

a.rowButton {
	width: 32.333%;
	padding-right: 1%;
	float: left;
	font-size: 1.5em;
	background-color: $overlayButton;
	color: $overlayText;
	@include transition(background-color .5s ease, color .5s ease);
}

a.rowButton:hover {
	color: $overlayTextHov;
	background-color: $overlayButtonHov;
}

a.rowButtonCurrent, a.rowButtonCurrent:hover {
	color: $overlayTextCur;
	background-color: $overlayButtonCur;
}

#resumeTitle, #aboutTitle, #hireTitle {
	width: 80%;
	padding: .5em 0 .5em 10%;
	float: left;
}

.closeBox {
	width: 10%;
	max-width: 1.5em;
	float: right;
	height: 100%;
	padding-top: 1.1em
}

.close {
	opacity: 0;
	height: 0;
	width: 100%;
	margin-top: -50%;
	@include transition(opacity .5s ease);
}

.closeCircle {
	@include transition(fill .5s ease);
}

.close:hover>.closeCircle {
	fill: $closeHov;
}

.rowButtonCurrent .close {
	opacity: 1;
	height: 100%;
}

#contentRow {
	position: absolute;
	width: 300%;
	background-color: $overlay;
	display: none;
	@include transition-transform(1s ease);
}

#resume, #about, #hire {
	float: left;
	width: 23.33%;
	padding: 0 5%;
}

#about {
	text-align: center;
}

#hire {
	text-align: right;
}

#sig {
	height: 3em;
	padding-top: .5em;
}