/* ----- SIDEBAR ----- */
#sidebar {
	background-color: $sBar;
	padding: 0;
	margin: .4em 0 1em 0;
	position: absolute;
	left: 2%;
	z-index: 97;
	font-size: 3.5em;
}

#sidebar li {
	padding: 0 .5em 0 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 2em;
	@include transition(background-color .5s ease);
}

#sidebar li:hover {
	background-color: $sBarHov;
}

#sidebar img {
	height: 100%;
	vertical-align: middle;
}

.navCurrent {
	background-color: $sBarCur;
}

.Ncat {
	vertical-align: -.15em;
	padding: 0 .3em;
	@include transition(color .5s ease);
}

#Sil {color: $il;}
.navCurrent #Sil {color: $ilMed;}
#Nil:hover #Sil {color: $ilLight;}

#Sva {color: $va;}
.navCurrent #Sva {color: $vaMed;}
#Nva:hover #Sva {color: $vaLight;}

#Sgd {color: $gd;}
.navCurrent #Sgd {color: $gdMed;}
#Ngd:hover #Sgd {color: $gdLight;}

#Sco {color: $co;}
.navCurrent #Sco {color: $coMed;}
#Nco:hover #Sco {color: $coLight;}

#Sro {color: $ro;}
.navCurrent #Sro {color: $roMed;}
#Nro:hover #Sro {color: $roLight;}

#Sid {color: $id;}
.navCurrent #Sid {color: $idMed;}
#Nid:hover #Sid {color: $idLight;}

#Ssc {color: $sc;}
.navCurrent #Ssc {color: $scMed;}
#Nsc:hover #Ssc {color: $scLight;}

#Sck {color: $ck;}
.navCurrent #Sck {color: $ckMed;}
#Nck:hover #Sck {color: $ckLight;}