/* ----- SPLASH AREA ----- */
#splash {
	position: absolute;
	width: 100%;
	bottom: 0;
	overflow: hidden;
	//background-image set with js
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}

.icon {
	top: 60%;
	left: 50%;
	display: block;
	position: absolute;
}

.iconText {
	position: absolute;
	opacity: 0;
	@include transition(opacity 1s ease);
}

.iconText:hover {
	opacity: 1;
}

#icon1 {
	@include transform(translate(-50%,-50%)
		rotate(-105deg)
		translateY(-285%)
		rotate(105deg));
}

#icon2 {
	@include transform(translate(-50%,-50%)
		rotate(-75deg)
		translateY(-285%)
		rotate(75deg));
}

#icon3 {
	@include transform(translate(-50%,-50%)
		rotate(-45deg)
		translateY(-285%)
		rotate(45deg));
}

#icon4 {
	@include transform(translate(-50%,-50%)
		rotate(-15deg)
		translateY(-285%)
		rotate(15deg));
}

#icon5 {
	@include transform(translate(-50%,-50%)
		rotate(15deg)
		translateY(-285%)
		rotate(-15deg));
}

#icon6 {
	@include transform(translate(-50%,-50%)
		rotate(45deg)
		translateY(-285%)
		rotate(-45deg));
}

#icon7 {
	@include transform(translate(-50%,-50%)
		rotate(75deg)
		translateY(-285%)
		rotate(-75deg));
}

#icon8 {
	@include transform(translate(-50%,-50%)
		rotate(105deg)
		translateY(-285%)
		rotate(-105deg));
}